# Obsidian-specifikus fájlok
/.obsidian/desktop.ini
/.obsidian/icons/
/.obsidian/snippets/
/.obsidian/themes/
/.obsidian/*.json

# Rendszerfájlok
.DS_Store
Thumbs.db

# Ideiglenes fájlok
*.tmp
*.temp
